.wrapper-nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 3px solid #0000009b;
}
.wrapper-Link{
    width: 50%;
    display: flex;
    justify-content: space-between  ;
    margin-left:150px;
    font-size:18px;
    font-weight: 400;

}
.active{
    color: #20c038;;
  }
  span{
    color: #0c8e28;
    font-size: 20px;
    font-weight: 900;
  }
.whole{
    background-color:#ffff;
}